* {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
}

aside {
  overflow: auto;
  position: fixed;
  background-color: cornflowerblue;
  width: 10vw;
  line-height: 80px;
  text-align: center;
  color: white;
  font-size: larger;
  height: 100vh;
}

article {
  margin-left: 11vw;
  float: right;
  margin-bottom: 100vh;
}
